# Archivos y carpetas a ignorar
node_modules/
.env
.DS_Store
npm-debug.log
dist/
*.log
.idea/
.vscode/

# Archivos generados por pkg
dist/
*.exe
*.pkg

# Archivos temporales de impresión
**/receipt-raw.txt

# Archivos de compilación adicionales
build/
pkg-cache/